/* я css */
:root {
    --color1: rgb(202, 202, 202);
}
body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: #363636;
    line-height: 1.6;
}
mark {
    color: inherit;
    background: none;
    text-decoration: underline;
}
.container {
    width: 85%;
}
.hide {
    display: none;
}
/* header startttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttttt  */
header {
    display: flex;
    align-items: center;
    gap: 0 10px;
    background-color: var(--color1);
    /* border-radius: 2px; */
    margin-bottom: 20px;
    color: #fff;
    justify-content: space-between;
    padding: 30px;

}
/* header endddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd  */

/* **************************************intro*************************************************** */

.intro {
    display: flex;
    /* background-color: gray; */
    justify-content: space-around;
    gap: 0 30px;
}
.intro__slider {
    width: 100%;
    background-color: rgb(202, 202, 202);
}
.intro__description {
    width: 100%;
}
/* **************************************intro end*************************************************** */
